.aut{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
    position: relative;
}

.aut>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-left{
    gap: 2rem;
}

.a-left>img{
    height: 4rem;
    width: 4rem;
}

.Webname > h1 {
    font-size: 3rem;
    font-weight: bold;
    background-color: red;
    
    /* Create the gradient. */
    background-image: var(--buttonBg);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.Webname>h6{
    font-size: 0.85rem;
    font-weight: 600;
}

.infoForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.infoInput{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}

.infoForm>div{
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
}

.infobtn{
    height: 2rem;
    width: 6rem;
    align-self: flex-end;
}

.authform{
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
}

.authform>div{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.size-text{
    font-size: 12px;
}

.txweight{
    font-weight: bold;
    font-size: 22px;
}