.ProfileCards{
    display: flex;
    border-radius: 1.5rem;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    overflow-x: clip;
    background: var(--cardColor);
}

.profileImg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.profileImg>img:nth-of-type(1){
    width: 100%;
}

.profileImg>img:nth-of-type(2){
    width: 6rem;
    position: absolute;
    border-radius: 50%;
    bottom: -3rem;
    box-shadow: var(--profileShadow);
}

.profilename{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    gap: 10px;
}


.profilename>span:nth-of-type(1){
    font-weight: bold ;
}


.followers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.75rem;
}

.followers>hr{
    width: 85%;
    border:1px solid var(--hrColor);
}

.followers>div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    gap: 1rem;
}

.follow{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: center;
}


.follow>span:nth-of-type(1){
    font-weight: bold;
}

.follow>span:nth-of-type(2){
    font-weight: 13px;
    color: var(--gray);
}

.vl{
    height: 150%;
    border-left: 2px solid var(--hrColor);
}


.ProfileCards>span{
    margin-bottom: 1rem;
    color: orange;
    font-weight: bold;
    align-self: center;
    cursor: pointer;
}



